#container {
  border: 3px solid skyblue;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5% 5% 5% 5%;
}

.text {
  font-weight: 700;
  text-align: center;
  margin-bottom: 8%;
}

/*====== navbar css start ======*/
nav {
  /* width: 200px; */
  position: absolute;
  /* top: 175px; */
}

.nav-item {
  color: white;
  text-decoration: solid;
}

.nav-item:hover {
  color: grey;
}
#emer {
  margin-left: 10%;
  padding-top: 2%;
}

.text-muted {
  padding-left: 2%;
}

.titlenav {
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  /* height: 30px; */
}

.welcome {
  padding-left: 0%;
  margin-left: 0%;
}

/*====== navbar css end ======*/
