ul {
  list-style-type: none;
  background: rgb(83, 154, 236);
  width: 50%;
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

li a:hover {
  background: #333;
  color: #fff;
}

li a.home {
  background: #333;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 50px;
}
/*====== navbar css start ======*/
nav {
  /* width: 200px; */
  position: absolute;
  /* top: 175px; */
}

.nav-item {
  color: white;
  text-decoration: solid;
}

.nav-item:hover {
  color: grey;
}
#emer {
  margin-left: 10%;
  padding-top: 2%;
}

.text-muted {
  padding-left: 2%;
}

.titlenav {
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

/*====== navbar css end ======*/